@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

/* Buttons */
.user-button {
    width: 100px;
    background-color: white;
    color: black;
    padding: 10px;
}

.user-button:hover {
    padding: 9px;
}

.user-button:active {
    transform: scale(1.01);
    background-color: skyblue;
}

#random {
    background-color: lightpink;
    color: black;
}

#clear {
    background-color: red;
    color: white;
}
/* End of Buttons */

/* Input Container */
.input {
    margin: 0px;
    padding: 5px;
    height: 100px;
    background-color: #2af5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Array of Inputted Numbers */
.array-container {
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    border-bottom: 3px solid black;
}

/* Key */
.info {
    display: flex;
    justify-content: space-around;
}

.key {
    width: 100px;
    height: auto;
    padding: 10px;
    outline: 3px solid black;
    border-radius: 50px;
}

#smallest {
    background-color: rgb(49, 226, 13);
}

#current-index {
    background-color: rgb(24, 190, 255);
}

#current-smallest {
    background-color: green;
}

#not-checked {
    background-color: red;
}

/* Body Container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.child-container {
    margin-bottom: 75px;
    width: auto;
    height: auto;
}

/* Footer Settings Container */
.settings {
    height: 100px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #60afff;
    margin-bottom: 100px;
}

/* Created Elements */
.bar {
    width: 20px;
    outline: 1px solid black;
    display: inline-block;
    background-color: red;
}