@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

/* Input Number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.user-input {
    padding: 10px;
}

/* Buttons */
.user-button {
    width: 100px;
    background-color: white;
    color: black;
    padding: 10px;
}

.user-button:hover {
    padding: 9px;
}

.user-button:active {
    transform: scale(1.01);
}

.focus {
    background-color: skyblue;
}

#go {
    background-color: lightgreen;
    color: black;
}

#random {
    background-color: lightpink;
    color: black;
}

#enter {
    background-color: #28c2ff;
    color: black;
}

#clear {
    background-color: red;
}
/* End of Buttons */

/* Input Container */
.input {
    margin: 0px;
    padding: 5px;
    height: 100px;
    background-color: #2af5ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Array of Inputted Numbers */
.array-container {
    margin: 10px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    border-bottom: 3px solid black;
}

/* Bar Container */
.container {
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Settings Container */
.settings {
    height: 100px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #60afff;
}

/* Created Elements */
.created-block {
    background-color: skyblue;
    width: 10px;
    outline: 1px solid black;
}