* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

.input {
    margin: 10px;
    height: 100px;
    outline: 5px solid blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.input div {
    outline: 3px solid purple;
}

.container {
    outline: 5px solid red;
}

.settings {
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: 5px solid pink;
}